@{
  ViewData["Title"] = "FunkoShop | Home";
  ViewData["path1"] = "/shop";
  ViewData["link1"] = "SHOP";
  ViewData["path2"] = "/cart";
  ViewData["idLink2"] = "cart-link";
  ViewData["link2"] = "CARRITO";
  ViewData["path3"] = "/account";
  ViewData["link3"] = "MI CUENTA";
  ViewData["idLink3"] = "account-link";
}

<div class="home-root">
  <section class="banner">
    <div class="banner-data">
      <p class="banner-title">Nuevos Ingresos</p>
      <p class="banner-description">Descubrí el próximo Funko Pop de tu colección</p>
      <a href="/shop" class="banner-link links">SHOP</a>
    </div>
  </section>
  <section class="collection">
    <div class="collection-image">
      <img src="/images/funko-images/luke-1.webp" alt="">
    </div>
    <div class="collection-data">
      <p class="title">STARS WARS & THE MANDALORIAN</p>
      <P class="sub-title">Disfruta de una saga que sigue agregando personajes a su colección.</P>
      <a class="link-collection links" href="/shop">VER COLLECIÓN</a>
    </div>
  </section>
  <section class="collection">
    <div class="collection-image">
      <img src="/images/funko-images/harry-1.webp" alt="">
    </div>
    <div class="collection-data">
      <p class="title">HARRY POTTER</p>
      <P class="sub-title">Disfruta de una saga que sigue agregando personajes a su colección.</P>
      <a class="link-collection links" href="/shop">VER COLLECIÓN</a>
    </div>
  </section>
  <section class="collection">
    <div class="collection-image">
      <img src="/images/funko-images/pidgeotto.webp" alt="">
    </div>
    <div class="collection-data">
      <p class="title">POKEMON</p>
      <P class="sub-title">Disfruta de una saga que sigue agregando personajes a su colección.</P>
      <a class="link-collection links" href="/shop">VER COLLECIÓN</a>
    </div>
  </section>
</div>