@{
  ViewData["Title"] = "FunkoShop | Home";
  ViewData["path1"] = "/";
  ViewData["link1"] = "HOME";
  ViewData["path2"] = "/shop";
  ViewData["link2"] = "SHOP";
  ViewData["path3"] = "/account";
  ViewData["link3"] = "MI CUENTA";
}
<section class="purchase-section-main">
  <h3 class="cart-title">Detalle de tu orden de Compra</h3>
    <div class="purchase-div"></div>
</section>
<script src="~/js/purchase.js" asp-append-version="true"></script>