* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #444957;
}

span {
  color: #ffffff;
}

.spinner,
.big-spinner {
  border: #ffffff 3px solid;
  border-bottom: #00000000 3px solid;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
  animation: loader 1000ms linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #30343F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

header>div {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

nav>ul {
  display: flex;
}

ul {
  list-style: none;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #FF3333;
}

.banner {
  background-image: url("/images/funkos-banner.webp");
  height: 300px;
  width: 100%;
  margin-top: 3rem;
  box-shadow: #30343F 4px 4px 10px 4px;
}

.banner-data {
  background: #0000005e;
  height: 100%;
  width: 100%;
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.banner-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.banner p {
  color: #ffffff;
}

.banner-link {
  background-color: #ffffff;
  color: #30343F;
}

.banner-link:hover {
  background-color: #FF3333;
  color: #ffffff;
}

.home-root {
  margin: 0 4rem;
}

.collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  padding: 1rem 0;
}

.sub-title {
  font-size: 20px;
  padding-bottom: 2rem;
  border-bottom: #FF3333 3px solid;
}

.links {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 40px;
  border-radius: 50px;
  margin-top: 2rem;
}

.link-collection {
  background-color: #30343F;
  color: #ffffff;
}

.link-collection:hover {
  background-color: #FF3333;
}

/* SHOP ---> */
.shop {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 15px;
  width: 300px;
}

.option-title {
  font-size: 30px;
  text-align: start;
}

.shop input {
  border: none;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: #30343F;
  outline: none;
  width: 100%;
  margin-top: 1rem;
}

button {
  border: none;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

button .material-symbols-outlined {
  font-size: 20px;
  margin-left: 5px;
}

.order-item,
.select {
  width: 100%;
  background-color: #f3f3f3;
  border-bottom: #d3d3d3 2px solid;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.choice:hover {
  background-color: #ececec;
}

.select {
  background-color: #e4e4e4;
  border-radius: 0;
  color: #444957;
}

.text-option {
  padding-top: 1rem;
  color: #7f8186;
  border-bottom: #7f8186 thin solid;
  padding-bottom: 10px;
}

.select:hover {
  background-color: #dfdfdf;
}

.select .material-symbols-outlined {
  font-size: 30px;
  color: #444957;
}

.search-text {
  font-size: 16px;
  /* font-weight: 600; */
  color: #7f8186;
  padding-bottom: 10px;
  /* border: #8f9297 2px solid; */
  border-bottom: #7f8186 thin solid;
}

.search {
  color: #ffffff;
  background-color: #307ac0;
}

.search:hover {
  background-color: #2a70b1;
}

.clean {
  color: #ffffff;
  background-color: #FF3333;
}

.clean:hover {
  background-color: #eb2e2e;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: #d3d3d3 2px solid;
}

.spinner-container {
  background-color: #ffffff;
  width: auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-spinner {
  padding: 15px;
  border: #929292 4px solid;
  border-bottom: #ffffff 4px solid;
  /* margin: auto; */
  width: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  border-top: #dbdbdb 2px solid;
}

.item>div {
  width: 100%;
}

.item div img {
  width: 100%;
  height: 100%;
}

.item-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background-color: #f0f0f0;
  align-items: start;
}

.category {
  font-size: 14px;
}

.item-name {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}

.price {
  font-size: 16px;
  font-weight: 600;
}

.load-more {
  background-color: #f0f0f0;
  margin: 2rem auto;
  width: 250px;
}

.load-more:hover {
  background-color: #e4e4e4;
}

.load-more div {
  border: #444957 2px solid;
  border-bottom: #00000000 2px solid;
}

.not-found {
  font-size: 25px;
}

/* ITEM ---> */

.item-choice {
  border: #307ac0 thin solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
  height: 502px;
}

.item-choice-div {
  width: 400px;
}

.item-choice-div img {
  width: 100%;
}

.item-choice-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  align-items: start;
}

.item-choice-name {
  font-size: 30px;
  font-weight: 600;
  color: #444957;
}

.item-choice-description {
  text-align: start;
}

.item-choice-price {
  font-size: 25px;
  color: #444957;
}

.quantity-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity {
  background-color: #30343F;
  color: #ffffff;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.quantity-text {
  padding: 5px 40px;
  border: #d3d3d3 2px solid;
  border-radius: 5px;
  font-weight: 600;
}

.add-cart {
  background-color: #FF3333;
  color: #ffffff;
  width: 250px;
  margin-top: 6px;
}

.add-cart:hover {
  background-color: #eb2e2e;
}

.sold-out {
  padding: 1rem;
  border: #FF3333 2px solid;
  color: #FF3333;
  font-weight: 600;
}

.cart-add-text {
  padding: 1rem;
  font-weight: 600;
  border: #307ac0 2px solid;
  color: #307ac0;
}

.cart-add-text a {
  color: #307ac0;
}

/* CART ---> */

.cart-section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
  margin: 0 1rem;
}

.cart-title {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
  border-bottom: #FF3333 3px solid;
  display: inline-block;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.cart-list .cart-item {
  background-color: #FAFAFF;
  padding: 1rem;
  border-radius: 10px;
  border: #dddddd 2px solid;
  display: grid;
  grid-template-columns: 500px 100px 100px 50px;
  justify-content: space-between;
  align-items: center;
}

.cart-item-title p {
  font-weight: 600;
}

.cart-list li p,
div {
  text-align: center;
}

.cart-item-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  /* width: 150px; */
}

.div-img-data {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
}

.cart-div-img {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}

.cart-div-img img {
  width: 100%;
}

.cart-item-name {
  font-size: 25px;
  font-weight: 600;
}

.cart-amount,
.cart-price {
  font-size: 16px;
  font-weight: 600;
}

.cart-item-loader {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-empty p {
  font-size: 20px;
  font-weight: 600;
}

.delete-item-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-item-div .delete-item {
  color: #FF3333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-item-div .delete-item:hover {
  background-color: #e4e4e4;
}

.delete-spinner {
  padding: 8px;
  border: #FF3333 3px solid;
  border-bottom: #00000000 3px solid;
  margin: 0;
}

.resumen-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.resumen {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.resumen-data-div {
  border: #dddddd 3px solid;
  border-radius: 10px;
  width: 450px;
  background-color: #FAFAFF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resumen-total-div {
  border-top: #FF3333 3px solid;
}

.resumen-text-div {
  display: flex;
  justify-content: space-between;
  padding: 8px 2px;
}

.resumen-data-title,
.resumen-data {
  font-weight: 600;
}

.resumen-data {
  color: #929292;
}

.pay {
  background-color: #FF3333;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}

.pay .spinner {
  margin-bottom: 3px;
}

.pay .material-symbols-outlined {
  margin-bottom: 2px;
  font-size: 22px;
}

.pay:hover {
  background-color: #eb2e2e;
}


/* LOGIN ---> */

form {
  max-width: 600px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h3 {
  font-size: 40px;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 65%;
}

.login {
  width: 55%;
}

.input-div input {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 0;
  border-bottom: #FF3333 3px solid;
  width: 200px;
}

.send-form {
  background-color: #FF3333;
  color: #ffffff;
  width: 200px;
}

.send-form:hover {
  background-color: #eb2e2e;
}

.redirect-form,
.redirect-form a {
  color: #307ac0;
  font-size: 18px;
}

/* PURCHASE */

.purchase-section-main {
  padding: 4rem;
  display: flex;
  /* height: 100vh; */
  border: #2a70b1 thin solid;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.purchase-section-main h3 {
  width: max-content;
}

/* ACCOUNT ---> */

.profile {
  display: flex;
  gap: 4rem;
  padding: 3rem 0;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
}

.profile-section,
.purchase-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.profile-section {
  display: flex;
}

h4 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.profile-data-div {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}

.profile-data-title {
  font-weight: 600;
}

.profile-title {
  margin-top: 2rem;
}

.update-profile-div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.inputs-profile-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  gap: 1rem;
}

.input-profile {
  padding: 10px 12px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}

.inputs-profile-div button {
  width: 100%;
  color: #ffffff;
}

.update {
  background-color: #307ac0;
}

.update:hover {
  background-color: #2a70b1;
}

.danger {
  color: #FF3333;
  border: #FF3333 2px solid;
  font-size: 15px;
  padding: 10px;
  margin-top: 3rem;
}

.pre-data {
  border: #929292 2px solid;
  color: #7f8186;
  width: 350px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 1rem;
}

.delete-profile {
  background-color: #FF3333;
}

.delete-profile:hover {
  background-color: #eb2e2e;
}

.purchase-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.purchase-list .big-spinner {
  margin: 0 auto;
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  font-size: 18px;
  border: #a5a5a5 2px solid;
  padding: 1rem;
  color: #444957;
  width: 350px;
}

.purchase p {
  width: 100%;
  text-align: start;
  text-overflow: ellipsis;
}

.total-purchase {
  font-size: 20px;
  padding-top: 1rem;
  border-top: #929292 2px dashed;
  width: 100%;
  text-align: start;
}

/* FOOTER ---> */
footer {
  background-color: #30343F;
  color: #ffffff;
}

footer>div {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 4rem;
}

footer p {
  text-align: center;
  padding: 1rem;
  color: #ffffff;
}

.footer-list-link {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hidden {
  display: none;
}

@media (max-width:1100px) {
  .items-list {
    grid-template-columns: repeat(3, 220px);
  }
}